<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-light.min.css">
</head>
<body>
	<h1>My Flashcards</h1><br>
	<span>Comments, corrections and suggestions <a href="https://github.com/Roger-Heathcote/flashcards/issues">welcome</a></span>
	<br>
	{{ content | safe }}
</body>
</html>